:root {
  --brand-primary: #EF3825;
  --brand-secondary: #000000;
  --brand-tertiary: #CE9539;
  --background: #EDDDC2;
}

body {
  top: 0px;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 380px;
  min-height: 100vh;
  background-color: var(--background);
  color: black;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}