.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#navbar-top {
    height: 48px;
    width: 100%;
    background-color: #000000;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#navbar-bottom {
    height: 96px;
    width: 100%;
    padding: 16px 32px;
    background-color: #EF3825;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#navbar-logo {
    margin-top: 32px;
}

#navbar-logo img {
    display: block;
    height: 112px;
}

#navbar-links {
    display: flex;
    gap: 48px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.125rem;
}