#not-found {
    width: 100%;
    height: 100%;
    padding: 8rem 32px   32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#not-found h1 {
    font-size: 5rem;
}

#not-found p {
    font-size: 2rem;
    margin-bottom: 3em;
}